<div class="container" id="portfolioContainer">
    <div class="featurette">
        <a href="/#/portfolio/Babies"><img class="featurette-image pull-right" src="/content/img/portfolio-babies-big.png" /></a>
        <h2 class="featurette-heading">
            Beautiful Babies. <span class="muted">Muted text.</span>
        </h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac 
        </p>
    </div>
    <hr class="featurette-divider" />
    <div class="featurette">
        <a href="/#/portfolio/Weddings"><img class="featurette-image pull-left" src="/content/img/portfolio-weddings-big.png" /></a>
        <h2 class="featurette-heading">
            Wonderful Weddings.
        </h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac 
        </p>
    </div>
</div>


