<div class="featurette">
    <a href="/#/portfolio/Babies"><img class="featurette-image pull-right" src="/content/img/portfolio-babies-big.png" /></a>
    <h2 class="featurette-heading">
        <%- i18n.BabiesHeader %><span class="muted">Muted text.</span>
    </h2>
    <p class="lead">
        <%- i18n.BabiesWriteUp %>
    </p>
</div>
<hr class="featurette-divider" />
<div class="featurette">
    <a href="/#/portfolio/Weddings"><img class="featurette-image pull-left" src="/content/img/portfolio-weddings-big.png" /></a>
    <h2 class="featurette-heading">
        <%- i18n.WeddingsHeader %>
    </h2>
    <p class="lead">
        <%- i18n.WeddingsWriteUp %>
    </p>
</div>