@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div id="main">
       
    </div>
    <div class="clearfooter"></div>
</div>
<footer id="footer" class="global-footer"></footer>