@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="container">
	<div id="main">
       <header id="header"></header>
       <section id="content">
            <div id="pageElements">
            </div>
       </section>
    </div>
    <div class="clearfooter"></div>
</div>
<footer id="footer" class="global-footer"></footer>*@

<header id="globalHeader">
    <a href="/" class="masthead-link"><div class="masthead"></div></a>
    <div id="header-slide" class="container"></div>
    <div class="navbar-wrapper">
        <div class="container" id="header"></div>
    </div>
    <div id="login-modal"></div>
</header>

<div class="container" id="page">
    <div id="pageElements"></div>
    <footer id="footer" class="global-footer"></footer>
</div>