<div id="<%- model.Id %>" class="carousel slide">
    <% if(model.ShowIndicator){ %>
        <ol id="carouselIndicators" class="carousel-indicators">
            <%  var i,
            items = model.Items,
            length = model.Items.length;
            for(i = 0; i < length; i++){ %>
                <li data-target="#<%- model.Id %>" data-slide-to="<%- i %>" <%if(i === 0){%>class="active"<%}%>></li>
            <%} %>
        </ol>
    <%} %>
    <div class="carousel-inner">
        <%  var i,
            items = model.Items,
            length = model.Items.length;
        for(i = 0; i < length; i++){ %>
            <div class="<%if(i === 0){%>active<%}%> item">
                <img src="/Albums/<%-model.Id %>/<%-items[i].FileName %>" />
            <%if(items[i].Caption){ %>
                <div class="carousel-caption">
                    <h4><%- items[i].Title %></h4>
                    <p> <%-items[i].Caption %></p>
                </div>
            <%} %>
            </div>
        <%} %>
    </div>
    <%if(model.ShowNavigation){ %>
        <a class="left carousel-control" href="#<%-model.Id %>" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#<%-model.Id %>" data-slide="next">›</a>
    <%} %>
</div>